<html>
  <head>
    <script type='text/javascript'>
      window.__initialState__ = <%- JSON.stringify(state) %>
    </script>
    <script type='text/javascript'>
      window.__initialTree__ = <%- JSON.stringify(tree) %>
    </script>
    <script type='text/javascript' src='index.js'></script>
  </head>
  <body>
    <%- html %>
  </body>
</html>
